* {
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
body {
	background-image: url(./patt.png);
	font-family: 'Roboto', sans-serif;
}
.container {
	margin:0 auto;
}
.row:after {
	display: block;
	clear: both;
	content:"";
}
[class*="col-"] {
	float: left;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-12 {
	width: 100%;
}
.text-center {
	text-align: center;
}

@media(min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media(min-width: 992px) {
	.container {
		width: 992px;
	}
}
@media(min-width: 1300px) {
	.container {
		width: 1000px;
	}
}
html, body {
	height: 100%;
	margin: 0;
  }